body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: rgb(187, 187, 207);
}
.name {
    text-align: center;
    color: #eee;
    background-color: black;
    border: 2px solid red;
    padding: 12px;
    margin: 40px;
}
.hi {
    text-align: center;
    color: #eee;
    font-size: 20px;
}
.img-container{
    width: 200px;
    height: 200px;
    margin: auto;
}
.img-container img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    /* border: 1px solid #eee; */
    box-shadow: -2px 2px 16px 2px #d33939;
    }
hr {
    border: 2px dashed #333;
    margin-top: 40px;
}    
.skills h2{
    color: #333;
}
.skills p{
    color: #333;
}